@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@theme {
	--color-retroCoral: #ff6f61; /* Warm red-orange */
	--color-retroCream: #eceff1; /* Soft off-white */
	--color-retroGray: #2e2e2e; /* Dark gray */
	--color-retroBlue: #87ceeb; /* Sky blue */
	--color-retroPeach: '#FFCCBC';
	--color-retroTeal: '#26A69A';
	--color-retroPlum: '#AB47BC';
	--color-retroSlate: '#455A64';
	--color-retroYellow: #ffff00; /* Bright yellow */
	--color-retroGreen: #00ff00; /* Lime green */
	--color-retroPurple: #c71585; /* Deep purple */
	--color-retroBlack: #000000; /* Pure black */

	--font-retroGray: 'Press Start 2P', monospace;
}

body {
	@apply bg-retroCream font-retroGray min-h-screen;
	font-weight: 400;
	line-height: 1.6;
}

img {
	max-width: 100%;
	height: auto;
}
